@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "rootLayout.cshtml";
}
<style>
	.mainContainer {
		 display : flex;
		 width: 100vw;
		 height : auto;
	}
</style>

<div>

	@await Html.PartialAsync("Partials/Navbar.cshtml")

	<div class="mainContainer">
		@await Html.PartialAsync("Partials/LeftSidebar.cshtml")
		@await Html.PartialAsync("Partials/RightSidebar.cshtml")
		@await Html.PartialAsync("Partials/CenterMain.cshtml")
	</div>



</div>